@charset "utf-8";
@font-face {
    font-family: 'Noto Sans';
    src: url({{ "/fonts/notokr-regular.woff" | absURL }}) format('woff2'),
    url({{ "/fonts/notokr-regular.woff" | absURL }}) format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url({{ "/fonts/notokr-demilight.woff2" | absURL }}) format('woff2'),
    url({{ "fonts/notokr-demilight.woff" | absURL }}) format('woff');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Noto Sans';
    src: url({{ "/fonts/notokr-bold.woff2" | absURL }}) format('woff2'),
    url({{ "/fonts/notokr-bold.woff" | absURL }}) format('woff');
    font-style: normal;
    font-weight: bold;
}

body {
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: 'Noto Sans', sans-serif;
    color: #666;
}

p {
    font-size: 1.6rem;
    line-height: 28px;
}
